{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Trashkuha</title>
    <style>
        body {
            background: url('{% static "main/images/TrashKuha Form.png" %}') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }
     

    </style>
  </head>
  <body id="overlay">

	</br>	
	<h1>Login</h1>
 </br>


		<form action="" method=POST>
			{% csrf_token %}

	<form>
		<div class="col-9">
     <div class="mb-3">
     	<label for="exampleInputEmail1" class="form-label">Username</label>
     	<input type="text" class="form-control" name="username" aria-describedby="emailHelp">
     </div>
     <div class="mb-3">
     	<label for="exampleInputPassword1" class="form-label">Password</label>
     	<input type="password" class="form-control" name="password">
     </div>
   </div>


			

		<input type="submit" value="Submit" class="btn btn-secondary">

	</form>
		</br>
<p><a href="{% url 'register_user' %}">Change Password</a></p>
<br/><br/>	
{% endblock %}
</body>
</html>
